<h1>Show Log</h1>

<%= if @live_action in [:edit] do %>
  <%= live_modal @socket, TempoWeb.LogLive.FormComponent,
    id: @log.id,
    title: @page_title,
    action: @live_action,
    log: @log,
    return_to: Routes.log_show_path(@socket, :show, @log) %>
<% end %>

<ul>

</ul>

<span><%= live_patch "Edit", to: Routes.log_show_path(@socket, :edit, @log), class: "button" %></span>
<span><%= live_redirect "Back", to: Routes.log_index_path(@socket, :index) %></span>
