/* This file is for your main application css. */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
    .btn-primary {
        @apply block px-5 py-3.5 items-center whitespace-nowrap text-base font-medium text-white dark:text-slate-900 rounded shadow bg-gradient-to-r from-slate-900 dark:from-white to-slate-900 dark:to-white hover:opacity-80 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-400 dark:focus:ring-slate-600 focus:ring-offset-slate-900 dark:focus:ring-offset-white;
    }

    .btn-secondary {
        @apply inline-flex whitespace-nowrap items-center px-4 py-2 border border-slate-300 dark:border-slate-600 shadow text-base font-medium rounded text-slate-700 dark:text-slate-200 ~bg-white dark:bg-slate-900 hover:bg-slate-50 dark:hover:bg-slate-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-400 dark:focus:ring-slate-600;
    }

    .btn-tertiary {
        @apply font-medium text-slate-500 whitespace-nowrap hover:text-slate-600 dark:hover:text-slate-400;
    }
}


@layer base {
    /* Dark mode variants for background and text below */
    .\~text-slate-900 {
        @apply text-slate-900 dark:text-slate-100;
    }

    .\~text-slate-800 {
        @apply text-slate-800 dark:text-slate-200;
    }

    .\~text-slate-700 {
        @apply text-slate-700 dark:text-slate-300;
    }

    .\~text-slate-600 {
        @apply text-slate-600 dark:text-slate-400;
    }

    .\~text-slate-500 {
        @apply text-slate-500 dark:text-slate-500;
    }

    .\~text-slate-400 {
        @apply text-slate-400 dark:text-slate-600;
    }

    .\~text-slate-300 {
        @apply text-slate-300 dark:text-slate-700;
    }

    .\~text-slate-200 {
        @apply text-slate-200 dark:text-slate-800;
    }

    .\~text-slate-100 {
        @apply text-slate-100 dark:text-slate-900;
    }

    .\~text-white {
        @apply text-white dark:text-slate-900;
    }

    .\~bg-white {
        @apply bg-white dark:bg-slate-900;
    }

    .\~bg-slate-900 {
        @apply bg-slate-900 dark:bg-slate-100;
    }

    .\~bg-slate-800 {
        @apply bg-slate-800 dark:bg-slate-200;
    }

    .\~bg-slate-700 {
        @apply bg-slate-700 dark:bg-slate-300;
    }

    .\~bg-slate-600 {
        @apply bg-slate-600 dark:bg-slate-400;
    }

    .\~bg-slate-500 {
        @apply bg-slate-500 dark:bg-slate-500;
    }

    .\~bg-slate-400 {
        @apply bg-slate-400 dark:bg-slate-600;
    }

    .\~bg-slate-300 {
        @apply bg-slate-300 dark:bg-slate-700;
    }

    .\~bg-slate-200 {
        @apply bg-slate-200 dark:bg-slate-800;
    }

    .\~bg-slate-100 {
        @apply bg-slate-100 dark:bg-slate-900;
    }

    .\~border-slate-900 {
        @apply border-slate-900 dark:border-slate-100;
    }

    .\~border-slate-300 {
        @apply border-slate-300 dark:border-slate-700;
    }
}

.tippy-box[data-theme~='mmentum'] {
    @apply bg-gradient-to-r from-slate-600 to-slate-900 text-white px-2 py-1 font-medium;
}
